<div class="wrapper">
  <mat-card class="content-wrapper">
    <form class="content-wrapper-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="content-wrapper-label">QR Code</mat-label>
        <input
          class="content-wrapper-input"
          matInput
          placeholder="Type Something..."
          [(ngModel)]="value"
          name="input"
          (ngModelChange)="handleInputChange()"
        />
      </mat-form-field>
      <div class="content-wrapper-img">
        <qr-code [value]="value" size="300" errorCorrectionLevel="M"></qr-code>
      </div>
      <a
        *ngIf="value"
        class="download-button"
        mat-raised-button
        color="primary"
        download="qr_png"
        [href]="downloadQr"
        (click)="onDownload()"
        >Download QR</a
      >
    </form>
  </mat-card>
</div>
